@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --black-background: black; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; }

/*Header*/
.header {
  background-color: var(--black-background);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /*siempre top con sticky*/
  padding: 10px; }

.header-img {
  width: 100px;
  margin-left: 10px; }

.header-menu {
  width: 30px;
  order: 1;
  /*Nos lleva a la derecha*/
  margin-right: 10px; }

/*Está oculto*/
.header-nav_ul {
  display: none;
  /*inline*/
  color: white; }

/*End of hidden*/
/*First  section*/
.first-section {
  background-color: #58a6ff;
  height: 50vh;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  /*ponerlo en el padre*/ }

/* .first-section_div1{
    display: none;
} */
.first-section_div2 {
  display: flex;
  gap: 20px;
  justify-content: end;
  flex-direction: column;
  padding: 15px;
  padding-top: 100px; }

/*End of hidden*/
.first-section_h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold; }

.first-section_subtitle {
  color: white;
  font-size: 2rem;
  font-weight: bold; }

.first-section_button {
  color: white;
  background-color: #238636;
  padding: 25px;
  margin-left: 10px;
  border-radius: 20px; }

/*.first-section_note {
  color: white;
  font-size: 16px;
  background-color: #2eac48;
  padding: 25px;
  margin-left: 15px;
  border-radius: 30px;
  width: 92%;
  text-align: center;
  font-weight: 600;
}*/
.first-section_note {
  color: white;
  font-size: 1.6rem;
  margin-bottom: 20px;
  padding: 15px; }

/*End of first section/

/*Second section*/
.second-section {
  background-color: white; }

.second-section_h2 {
  color: black;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center; }

.second-section_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px; }

.second-section_article {
  display: flex;
  gap: 20px; }

.second-section_img {
  width: 100px; }

.article_text {
  padding-top: 25px; }

.bold-text {
  font-weight: bolder;
  font-size: 1.8rem; }

.second-text {
  font-size: 1.3rem;
  line-height: 3.5; }

/*End of second section*/
/*Footer*/
.footer {
  background-color: var(--black-background);
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between; }

.footer_right {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer-img_es {
  transform: scale(0.5); }

/*End of footer*/
/*Media queries*/
@media all and (min-width: 480px) {
  .header-menu {
    display: none; }
  .header-nav_ul {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 12px; }
  .header-nav_ul_li {
    padding-top: 10px; }
  .first-section {
    /*meter una imagen en el fondo a partir del peso de tablet*/
    background-image: url("../images/premium_dancer-cabecera.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain; }
  .first-section_h1 {
    font-size: 45px;
    display: flex;
    flex-direction: column; }
  /* .months {
  } */
  .first-section_button {
    width: 15%;
    padding: 15px;
    font-size: 10px;
    border-radius: 20px; }
  .first-section_note {
    font-size: 10px; }
  /* .second-section {
  } */ }

/*# sourceMappingURL=main.css.map */
